/* Write your code here. */

.emojiCard {
  background-color: #bfbfbf;
  height: 200px;
  width: 150px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: transparent;
  border: none;
}
