/* Write your code here. */
.emojiContainer {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  background-size: cover;
  flex-wrap: wrap;
  padding: 50px;
  min-height: 80vh;
}
